/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --nav-color: rgb(232, 233, 215);
  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
}

body.dark {
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader.hide {
  display: none;
}

.loader--img {
  width: 100px;
  fill: var(--first-color);
  position: relative;
  animation: load 1.5s infinite;
}

/*logo img*/
.logo--img {
  width: 50px;
  height: 50px;
  margin-top: -15px;
}

/*/navegacion*/

nav {
  display: flex;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 400px;
  flex-direction: row;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

/*menu hamburguesa*/
#btn-menu {
  visibility: hidden;
}

.nav-menu {
  position: absolute;
  background: var(--nav-color);
  width: 100%;
  top: 70px;
  height: 30rem;
  min-height: calc(80vh - 70px);
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3.5rem;
  align-items: center;
  color: var(--button-color);
  display: flex;
  left: -100%;
  transition: left 0.5s linear;
}
.nav-item {
  list-style: none;
  font-size: 1.25rem;
}

.nav-item > a {
  color: var(--text-color-light);
  text-decoration: none;
}

.bx,.store{
  color: var(--title-color);
}

#btn-menu:checked ~ .nav-menu {
  left: 0;
}

.header__cart-notification {
  display: none;
}

/*/header*/

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header--container-img {
  overflow: hidden;
  background-color: var(--first-color);
  width: 70%;
  height: 400px;
  margin-left: auto;
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
}
.header--img {
  width: 250px;
  margin-top: 9rem;
}

.header-article {
  text-align: center;
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header-article-texto {
  text-align: justify;
}

/*Btn efectos */

.btn--container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--card-color);
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: var(--first-color);
  position: relative;
  z-index: 10;
  border-radius: 10px;
}
button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--first-color);
  z-index: -1;
  transition: 1s;
}
button:hover .overlay {
  width: 100%;
  background-color: var(--first-color);
  color: var(--card-color);
  box-shadow: 5px 5px 5px #6e6d6c, -5px 5px 5px #8a8a8a;
}
button:hover {
  color: var(--card-color);
}

/*aqui empieza el main*/
.container--column {
  padding: 2rem;
  overflow: hidden;

  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  text-align: center;
}
.col {
  border-right: 1px solid black;
  width: 140px;
  height: 50px;
}

.tres,
.cuatro {
  margin-bottom: 7rem;
}

/*=====cards=====*/
.container--cards {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container--cards:hover{
  padding: 10px;
  border: 1px solid var(--text2-color);
  transition: 0.4s;
}

.cards {
  margin: 1rem;
  overflow: hidden;
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-items: center;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 4px gray;
}

.img--cards {
  width: 100%;
  height: 200px;
  background-color: var(--text-color-light);
}

.precio {
  margin-right: 50%;
}

.container--precio-stock {
  display: flex;
  justify-content: space-around;
}

.bx-plus{
  margin-left: auto;
  z-index: 10px;
  margin-top: -22px;
  background-color: var(--container-color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  
}

/* EMPIEZA FOOTER*/

footer {
  background-color: var(--dark-grey);
  color: var(--text-color);
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .redes {
  margin-bottom: 20px;
}

footer .redes a {
  color: var(--first-color);
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--first-color);
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
}

footer .redes a:hover {
  background-color: var(--first-color);
  color: #fff;
  box-shadow: 5px 5px 5px #6e6d6c, -5px 5px 5px #8a8a8a;
}

footer .arriba:hover {
  box-shadow: 5px 5px 5px #6e6d6c, -5px 5px 5px #8a8a8a;
}

/*mdiaquery*/

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;

    height: 600px;
  }
  .header-article {
    margin-top: 10rem;
    text-align: center;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .header--container-img {
    overflow: hidden;
    background-color: var(--first-color);
    width: 50%;
    height: 570px;
    margin-left: auto;
    text-align: center;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .header--img {
    width: 350px;
    margin-top: 12rem;
  }

  .container--column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center;
    height: 150px;
  }

  .col {
    border-right: 1px solid black;
    width: 160px;
    height: 60px;
  }

  .container--cards {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  .cards {
    margin: 1rem;
    overflow: hidden;

    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
    border-radius: 15px;
  }
  #icon--mas {
    margin-left: auto;
  }

  .container--precio-stock {
    overflow: hidden;
    display: flex;

    width: 100%;
    margin-right: auto;
  }

  .precio {
    margin: 0.2rem;
  }

  input {
    width: 40px;
  }

  label {
    display: none;
  }
  .nav-menu {
    position: static;
    flex-direction: row;
    min-height: auto;
    justify-content: end;
    background-color: transparent;
  }
  .nav-item {
    font-size: 1rem;
    margin-bottom: 460px;
  
  }
  nav {
    width: 95%;
  }
  

}

@keyframes load {
  0% {
    top: 0;
  }

  50% {
    top: -30px;
  }

  100% {
    top: 0;
  }
}
